<% include partials/header %>
    <br>
    <br>
    <div class="container">
        <form action="/index" method="POST">
            <input class="form-control form-group" type="text" name="name" placeholder="Poster name">
            <input class="form-control form-group" type="text" name="image" placeholder="Poster URL">
            <input class="form-control form-group" type="text" name="creator" placeholder="Poster creator">
            <input class="form-control form-group" type="text" name="price" placeholder="Poster Price">
            <input class="form-control form-group" type="text" name="description" placeholder="Tell something about poster" max-lenght="42">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>     
        </form>
    </div>
    <br>

        










<% include partials/footer %>